<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
        {% if site.search %}<li class="dosearch"><span><i class="fa fa-search"></i> Search</span></li>{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if site.search %}{% include site-search.html %}{% endif %}

<header class="masthead">
{% if page.image.feature %}
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
		</div>
	{% endif %}
{% else %}
	<div class="wrap">
        {% if site.logo != null %}
    		<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp"></a>
        {% endif %}
        <h1 class="site-title animated fadeIn">
            <a href="{{ site.url }}">{{ site.title }}</a>{% if site.subtitle %} | <a class="subtitle" href="{{ site.url }}">{{ site.subtitle }}</a>{% endif %}
        </h1>
        <h1 class="site-subtitle animated fadeIn"><a href="{{ site.url }}"></a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
{% endif %}
</header><!-- /.masthead -->

<div class="js-menu-screen menu-screen"></div>