{% include navigation.html %}

<header class="masthead">
{% if page.image.feature %}
    {% if page.logo != null %}
        {% if page.layout == 'page' %}
            <div class="wrap">
                <a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ page.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
            </div>
        {% else %}
            <div class="wrap post-logo">
                <img src="{{ site.url }}/images/{{ page.logo }}" width="200" height="200" alt="" class="animated bounceInDown">
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="wrap">
        {% if page.logo != null %}
            <a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ page.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp"></a>
        {% endif %}
        <h1 class="site-title animated fadeIn">
            <a href="{{ site.url }}">{{ site.title }}</a>{% if site.subtitle %} | <a class="subtitle" href="{{ site.url }}">{{ site.subtitle }}</a>{% endif %}
        </h1>
        <h1 class="site-subtitle animated fadeIn"><a href="{{ site.url }}"></a></h1>
        <h2 class="site-description animated fadeIn" itemprop="description">{{ site.description[page.lang] }}</h2>
    </div>
{% endif %}
</header><!-- /.masthead -->

<div class="js-menu-screen menu-screen"></div>